## 1. Import and observe dataset
<p>We all love watching movies! There are some movies we like, some we don't. Most people have a preference for movies of a similar genre. Some of us love watching action movies, while some of us like watching horror. Some of us like watching movies that have ninjas in them, while some of us like watching superheroes.</p>
<p>Movies within a genre often share common base parameters. Consider the following two movies:</p>
<p><img style="margin:5px 20px 5px 1px; height: 250px; display: inline-block;" alt="2001: A Space Odyssey" src="https://assets.datacamp.com/production/project_648/img/movie1.jpg">
<img style="margin:5px 20px 5px 1px; height: 250px; display: inline-block;" alt="Close Encounters of the Third Kind" src="https://assets.datacamp.com/production/project_648/img/movie2.jpg"></p>
<p>Both movies, <em>2001: A Space Odyssey</em> and <em>Close Encounters of the Third Kind</em>, are movies based on aliens coming to Earth. I've seen both, and they indeed share many similarities. We could conclude that both of these fall into the same genre of movies based on intuition, but that's no fun in a data science context. In this notebook, we will quantify the similarity of movies based on their plot summaries available on IMDb and Wikipedia, then separate them into groups, also known as clusters. We'll create a dendrogram to represent how closely the movies are related to each other.</p>
<p>Let's start by importing the dataset and observing the data provided.</p>

In [2]:
# Import modules
import numpy as np
import pandas as pd
import nltk

# Set seed for reproducibility
np.random.seed(5)

# Read in IMDb and Wikipedia movie data (both in same file)
movies_df = pd.read_csv("datasets/movies_ratings.csv")

print("Number of movies loaded: %s " % (len(movies_df)))

# Display the data
movies_df

Number of movies loaded: 4337

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/1995,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,12/15/1995,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886
2,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise â€“ Las Vega...,...,11/22/1995,116112375,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343
3,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,5/16/1995,1738611,108.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·žè¯ / å»£å...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308
4,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,9/22/1995,327311859,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915
5,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,7/19/1995,23341568,106.0,"[{'iso_639_1': 'es', 'name': 'EspaÃ±ol'}, {'is...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334
6,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,49133,tt0110299,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",...,1/1/1994,0,116.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,NaN,Lamerica,False,7.7,11
7,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,11010,tt0110877,it,Il postino,Simple Italian postman learns to love poetry w...,...,9/22/1994,0,108.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,NaN,The Postman,False,7.6,181
8,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 18, '...",NaN,46785,tt0112445,fa,Ø¨Ø§Ø¯Ú©Ù†Ú© Ø³ÙÛŒØ¯,Several people try to take advantage of a litt...,...,1/1/1995,0,85.0,"[{'iso_639_1': 'fa', 'name': 'ÙØ§Ø±Ø³ÛŒ'}]",Released,NaN,The White Balloon,False,7.5,20
9,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,40154,tt0113403,en,A Midwinter's Tale,Out of work actor Joe volunteers to help try a...,...,12/1/1995,0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The drama. The passion. The intrigue... And th...,A Midwinter's Tale,False,7.5,6
10,False,NaN,3000000,"[{'id': 18, 'name': 'Drama'}]",NaN,406,tt0113247,fr,La Haine,Aimlessly whiling away their days in the concr...,...,5/31/1995,0,98.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,Three Young Friends... One Last Chance.,La Haine,False,7.9,695
11,False,NaN,72000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,197,tt0112573,en,Braveheart,"Enraged at the slaughter of Murron, his new br...",...,5/24/1995,210000000,177.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Every man dies. Not every man truly lives.,Braveheart,False,7.7,3404
12,False,NaN,1300000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,103,tt0075314,en,Taxi Driver,A mentally unstable Vietnam War veteran works ...,...,2/7/1976,28262574,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"On every street in every city, there's a nobod...",Taxi Driver,False,8.1,2632
13,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,71754,tt0113774,en,Margaret's Museum,In a town where half the men die down the coal...,...,9/13/1995,0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She found a way to preserve her memories forever.,Margaret's Museum,False,7.5,2
14,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,11104,tt0109424,cn,é‡æ…¶æ£®æž—,"Every day, Cop 223 buys a can of pineapple wit...",...,7/14/1994,0,102.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·žè¯ / å»£å...",Released,What a difference a day makes,Chungking Express,False,7.9,249
15,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,26564,tt0109508,en,Crumb,This movie chronicles the life and times of R....,...,9/10/1994,3174695,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Weird sex Â· Obsession Â· Comic books,Crumb,False,7.6,71
16,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,58372,tt0114241,en,Reckless,"On Christmas eve, a relentlessly cheerful woma...",...,11/17/1995,0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The most twisted Christmas ever.,Reckless,False,10.0,1
17,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,5967,tt0058450,fr,Les parapluies de Cherbourg,This simple romantic tragedy begins in 1957. G...,...,2/19/1964,0,91.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,a film for all the young lovers of the world,The Umbrellas of Cherbourg,False,7.6,119
18,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,19155,tt0110882,en,Before the Rain,The circularity of violence seen in a story th...,...,6/9/1994,763847,113.0,"[{'iso_639_1': 'sq', 'name': 'shqip'}, {'iso_6...",Released,Once You Know The Faces You Will Begin To Unde...,Before the Rain,False,7.7,45
19,False,"{'id': 123800, 'name': 'Before... Collection',...",2500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,76,tt0112471,en,Before Sunrise,"A dialogue marathon of a film, this fairytale ...",...,1/27/1995,5535405,105.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Can the greatest romance of your life last onl...,Before Sunrise,False,7.7,984
20,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,10451,tt0111797,zh,é£²é£Ÿç”·å¥³,The film tells the story of a retired and wido...,...,8/3/1994,7294403,123.0,"[{'iso_639_1': 'zh', 'name': 'æ™®é€šè¯'}]",Released,NaN,Eat Drink Man Woman,False,7.5,76
21,False,NaN,700000,"[{'id': 99, 'name': 'Documentary'}]",NaN,14275,tt0110057,en,Hoop Dreams,This documentary follows two inner-city Chicag...,...,9/12/1994,7830611,171.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An Extraordinary True Story.,Hoop Dreams,False,7.7,91
22,False,"{'id': 10, 'name': 'Star Wars Collection', 'po...",11000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.starwars.com/films/star-wars-episod...,11,tt0076759,en,Star Wars,Princess Leia is captured and held hostage by ...,...,5/25/1977,775398007,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,False,8.1,6778
23,False,"{'id': 300546, 'name': 'Once were Warriors Col...",0,"[{'id': 18, 'name': 'Drama'}]",NaN,527,tt0110729,en,Once Were Warriors,A drama about a Maori family lving in Auckland...,...,9/2/1994,2201126,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"A family in crisis, a life in chaos... Nothing...",Once Were Warriors,False,7.6,106
24,False,NaN,16000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,101,tt0110413,fr,LÃ©on,"Leon, the top hit man in New York, has earned ...",...,9/14/1994,45284974,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"If you want a job done well, hire a professional.",Leon: The Professional,False,8.2,4293
25,False,NaN,8000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,680,tt0110912,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",...,9/10/1994,213928762,154.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just because you are a character doesn't mean ...,Pulp Fiction,False,8.3,8670
26,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,110,tt0111495,fr,Trois couleurs : Rouge,Red This is the third film from the trilogy by...,...,5/27/1994,0,99.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Three Colors: Red,False,7.8,246
27,False,"{'id': 131, 'name': 'Three Colors Collection',...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,108,tt0108394,fr,Trois couleurs : Bleu,A woman struggles to find a way to live her li...,...,1/10/1993,0,98.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}, {'i...",Released,NaN,Three Colors: Blue,False,7.7,311
28,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,9/23/1994,28341469,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,31439,tt0110081,zh,æ´»ç€,Fugui and Jiazhen endure tumultuous events in ...,...,6/30/1994,0,125.0,"[{'iso_639_1': 'zh', 'name': 'æ™®é€šè¯'}]",Released,NaN,To Live,False,7.7,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://24x36movie.com/,385305,tt5003654,en,24Ã—36,"A documentary exploring the birth, death and r...",...,3/5/2016,0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A movie about movie posters.,24Ã—36,False,8.1,7
4308,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,412103,tt5950978,en,Rick and Morty: State of Georgia Vs. Denver Fe...,"A faithful, word-for-word recreation of one co...",...,7/24/2016,0,10.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Rick and Morty: State of Georgia Vs. Denver Fe...,False,8.7,10
4309,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",NaN,437830,tt6194850,en,Zero 3,Lithuanian politics Tarantino style,...,1/27/2017,0,90.0,[],Released,NaN,Zero 3,False,8.7,3
4310,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,411516,tt5135434,de,Ein deutsches Leben,"Brunhilde Pomsel describes herself as an ""apol...",...,10/15/2016,0,107.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,A German Life,False,7.5,2
4311,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,280640,tt3565174,fr,Geronimo,"South of France. In the sultry August heat, Ge...",...,10/15/2014,0,107.0,"[{'iso_639_1': 'fr', 'name': 'FranÃ§ais'}]",Released,NaN,Geronimo,False,7.7,9
4312,False,NaN,0,"[{'id': 28, 'name': 'Action'}]",NaN,49074,tt0139876,ta,Baasha,Auto rickshaw driver Manickam avoids violence ...,...,1/15/1995,15000000,145.0,"[{'iso_639_1': 'ta', 'name': 'à®¤à®®à®¿à®´à¯'}]",Released,NaN,Baasha,False,7.8,14
4313,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,28469,tt0273646,de,Der Herr Karl,No overview found.,...,11/15/1961,0,60.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Der Herr Karl,False,10.0,1
4314,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://channel.nationalgeographic.com/la-92/,450875,tt6794424,en,LA 92,Twenty-five years after the verdict in the Rod...,...,4/28/2017,0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The past is prologue,LA 92,False,8.8,3
4315,False,"{'id': 466463, 'name': 'Descendants Collection...",0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 107...",NaN,417320,tt5117876,en,Descendants 2,When the pressure to be royal becomes too much...,...,7/21/2017,0,111.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}]",Released,Long live evil.,Descendants 2,False,7.5,171
4316,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://www.hbo.com/comedy/chris-gethard-career...,454787,tt6794460,en,Chris Gethard: Career Suicide,"A comedy about depression, alcoholism, suicide...",...,5/6/2017,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Comedy can be found in the darkest places.,Chris Gethard: Career Suicide,False,7.5,4
4317,False,NaN,0,"[{'id': 16, 'name': 'Animation'}]",https://www.pixar.com/lou,433471,tt6267732,en,Lou,A Pixar short about a lost-and-found box and t...,...,6/16/2017,0,6.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Lou,False,8.5,17
4318,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,104308,tt0095728,it,Il nido del ragno,A young professor travels to Budapest to locat...,...,8/25/1988,0,86.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,The Spider Labyrinth,False,7.6,7
4319,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 99, 'nam...",http://www.kinoswiat.pl/film_hiway.asp,60153,tt0794290,en,Hi Way,"Two young aspiring filmmakers, director Jaco a...",...,5/2/2006,0,89.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,You gotta see it two to three times,Hi Way,False,7.5,2
4320,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,79343,tt0425990,fr,Les fourmis rouges,NaN,...,11/14/2007,0,0.0,[],Released,NaN,Les fourmis rouges,False,7.5,1
4321,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 35, 'n...",NaN,101801,tt0282917,cs,Rok ÄÃ¡bla,Documentary maker Jan Holman follows the ultra...,...,3/7/2002,0,88.0,"[{'iso_639_1': 'cs', 'name': 'ÄŒeskÃ½'}]",Released,A sad comedy about angels,Year of the Devil,False,7.7,6
4322,False,NaN,0,[],NaN,80284,tt0969746,es,La sangre iluminada,Six characters narrate their complex existence...,...,4/25/2008,0,104.0,"[{'iso_639_1': 'es', 'name': 'EspaÃ±ol'}]",Released,NaN,Enlightened blood,False,8.3,2
4323,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,81313,tt0379063,en,Zmruz oczy,The story of a spirited ten-year-old girl who ...,...,10/24/2003,0,88.0,[],Released,NaN,Squint Your Eyes,False,8.0,2
4324,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,120831,tt0018107,en,Love,"In Imperial Russia, Anna Karenina falls in lov...",...,11/28/1927,0,81.0,[],Released,Love Makes the World Go 'Round. It Will Spin L...,Love,False,7.6,5
4325,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,401408,tt5845320,en,"Leslie Caron, franÃ§aise Ã Hollywood, amÃ©ric...","Leslie Caron, beloved star of Gigi and An Amer...",...,6/28/2016,0,53.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Leslie Caron: The Reluctant Star,False,8.0,1
4326,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,434166,tt5609734,de,Es war einmal in Deutschland,"David Berman and his friends, all Holocaust su...",...,4/6/2017,0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Bye Bye Germany,False,8.7,3
4327,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,269981,tt0122737,en,Twelve Angry Men,Twelve Angry Men is a 1954 teleplay by Reginal...,...,9/20/1954,0,51.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Twelve Angry Men,False,8.5,4
4328,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,188421,tt1738321,en,A History of Horror with Mark Gatiss,Mark Gatiss examines the history of the horror...,...,10/25/2010,0,177.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A History of Horror with Mark Gatiss,False,9.0,3
4329,False,NaN,0,[],NaN,173874,tt0113769,en,The Many Faces of Christopher Lee,"Christopher Lee talks about his film career, w...",...,1/1/1996,0,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Many Faces of Christopher Lee,False,10.0,1
4330,False,"{'id': 477208, 'name': 'DC Super Hero Girls Co...",0,"[{'id': 16, 'name': 'Animation'}]",NaN,460135,tt7158814,en,LEGO DC Super Hero Girls: Brain Drain,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",...,8/30/2017,0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,LEGO DC Super Hero Girls: Brain Drain,False,10.0,2
4331,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 107...",NaN,91563,tt0478101,en,Black Sun,Blurred images illustrate the narration of Hug...,...,9/12/2005,0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Sun,False,8.3,3
4332,False,NaN,1254040,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",http://lmtr.fi/,468707,tt5742932,fi,Lauri MÃ¤ntyvaaran tuuheet ripset,NaN,...,7/28/2017,0,90.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,NaN,Thick Lashes of Lauri MÃ¤ntyvaara,False,8.0,1
4333,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,258907,tt0071450,en,Dyketactics,Born in Los Angeles but a New Yorker by choice...,...,1/1/1974,0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dyketactics,False,8.0,1
4334,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,455661,tt6969946,en,In a Heartbeat,A closeted boy runs the risk of being outed by...,...,6/1/2017,0,4.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Heart Wants What The Heart Wants,In a Heartbeat,False,8.3,146
4335,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,49279,tt0000359,fr,L'Homme Ã la tÃªte de caoutchouc,A chemist in his laboratory places upon a tabl...,...,1/1/1901,0,3.0,[],Released,NaN,The Man with the Rubber Head,False,7.6,29
4336,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,11/17/2011,0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3

## 2. Combine Wikipedia and IMDb plot summaries
<p>The dataset we imported currently contains two columns titled <code>wiki_plot</code> and <code>imdb_plot</code>. They are the plot found for the movies on Wikipedia and IMDb, respectively. The text in the two columns is similar, however, they are often written in different tones and thus provide context on a movie in a different manner of linguistic expression. Further, sometimes the text in one column may mention a feature of the plot that is not present in the other column. For example, consider the following plot extracts from <em>The Godfather</em>:</p>
<ul>
<li>Wikipedia: "On the day of his only daughter's wedding, Vito Corleone"</li>
<li>IMDb: "In late summer 1945, guests are gathered for the wedding reception of Don Vito Corleone's daughter Connie"</li>
</ul>
<p>While the Wikipedia plot only mentions it is the day of the daughter's wedding, the IMDb plot also mentions the year of the scene and the name of the daughter. </p>
<p>Let's combine both the columns to avoid the overheads in computation associated with extra columns to process.</p>

In [3]:
# Combine wiki_plot and imdb_plot into a single column
movies_df["plot"] = movies_df["overview"].astype(str)

# Inspect the new DataFrame
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,plot
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415,"Led by Woody, Andy's toys live happily in his ..."
1,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,"Obsessive master thief, Neil McCauley leads a ..."
2,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise â€“ Las Vega...,...,116112375,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343,The life of the gambling paradise â€“ Las Vega...
3,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La CitÃ© des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1738611,108.0,"[{'iso_639_1': 'cn', 'name': 'å¹¿å·žè¯ / å»£å...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308,A scientist in a surrealist society kidnaps ch...
4,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,327311859,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915,Two homicide detectives are on a desperate hun...

## 3. Tokenization
<p>Tokenization is the process  by which we break down articles into individual sentences or words, as needed. Besides the tokenization method provided by NLTK, we might have to perform additional filtration to remove tokens which are entirely numeric values or punctuation.</p>
<p>While a program may fail to build context from "While waiting at a bus stop in 1981" (<em>Forrest Gump</em>), because this string would not match in any dictionary, it is possible to build context from the words "while", "waiting" or "bus" because they are present in the English dictionary. </p>
<p>Let us perform tokenization on a small extract from <em>The Godfather</em>.</p>

In [7]:

# Remove tokens that do not contain any letters from words_tokenized
import re

## 4. Stemming
<p>Stemming is the process by which we bring down a word from its different forms to the root word. This helps us establish meaning to different forms of the same words without having to deal with each form separately. For example, the words 'fishing', 'fished', and 'fisher' all get stemmed to the word 'fish'.</p>
<p>Consider the following sentences:</p>
<ul>
<li>"Young William Wallace witnesses the treachery of Longshanks" ~ <em>Gladiator</em></li>
<li>"escapes to the city walls only to witness Cicero's death" ~ <em>Braveheart</em></li>
</ul>
<p>Instead of building separate dictionary entries for both witnesses and witness, which mean the same thing outside of quantity, stemming them reduces them to 'wit'.</p>
<p>There are different algorithms available for stemming such as the Porter Stemmer, Snowball Stemmer, etc. We shall use the Snowball Stemmer.</p>

In [8]:
# Import the SnowballStemmer to perform stemming
# ... YOUR CODE FOR TASK 4 ...
from nltk.stem.snowball import SnowballStemmer

# Create an English language SnowballStemmer object
stemmer = SnowballStemmer("english")

## 5. Club together Tokenize & Stem
<p>We are now able to tokenize and stem sentences. But we may have to use the two functions repeatedly one after the other to handle a large amount of data, hence we can think of wrapping them in a function and passing the text to be tokenized and stemmed as the function argument. Then we can pass the new wrapping function, which shall perform both tokenizing and stemming instead of just tokenizing, as the tokenizer argument while creating the TF-IDF vector of the text.  </p>
<p>What difference does it make though? Consider the sentence from the plot of <em>The Godfather</em>: "Today (May 19, 2016) is his only daughter's wedding." If we do a 'tokenize-only' for this sentence, we have the following result:</p>
<blockquote>
  <p>'today', 'may', 'is', 'his', 'only', 'daughter', "'s", 'wedding'</p>
</blockquote>
<p>But when we do a 'tokenize-and-stem' operation we get:</p>
<blockquote>
  <p>'today', 'may', 'is', 'his', 'onli', 'daughter', "'s", 'wed'</p>
</blockquote>
<p>All the words are in their root form, which will lead to a better establishment of meaning as some of the non-root forms may not be present in the NLTK training corpus.</p>

In [9]:
# Define a function to perform both stemming and tokenization
def tokenize_and_stem(text):
    
    # Tokenize by sentence, then by word
    tokens = [y for x in nltk.sent_tokenize(text) for y in nltk.word_tokenize(x)]
    
    # Filter out raw tokens to remove noise
    filtered_tokens = [token for token in tokens if re.search('[a-zA-Z]', token)]
    
    # Stem the filtered_tokens
    stems = [stemmer.stem(word) for word in filtered_tokens]
    
    return stems

## 6. Create TfidfVectorizer
<p>Computers do not <em>understand</em> text. These are machines only capable of understanding numbers and performing numerical computation. Hence, we must convert our textual plot summaries to numbers for the computer to be able to extract meaning from them. One simple method of doing this would be to count all the occurrences of each word in the entire vocabulary and return the counts in a vector. Enter <code>CountVectorizer</code>.</p>
<p>Consider the word 'the'. It appears quite frequently in almost all movie plots and will have a high count in each case. But obviously, it isn't the theme of all the movies! <a href="https://campus.datacamp.com/courses/natural-language-processing-fundamentals-in-python/simple-topic-identification?ex=11">Term Frequency-Inverse Document Frequency</a> (TF-IDF) is one method which overcomes the shortcomings of <code>CountVectorizer</code>. The Term Frequency of a word is the measure of how often it appears in a document, while the Inverse Document Frequency is the parameter which reduces the importance of a word if it frequently appears in several documents.</p>
<p>For example, when we apply the TF-IDF on the first 3 sentences from the plot of <em>The Wizard of Oz</em>, we are told that the most important word there is 'Toto', the pet dog of the lead character. This is because the movie begins with 'Toto' biting someone due to which the journey of Oz begins!</p>
<p>In simplest terms, TF-IDF recognizes words which are unique and important to any given document. Let's create one for our purposes.</p>

In [27]:
# Import TfidfVectorizer to create TF-IDF vectors
# ... YOUR CODE FOR TASK 6 ...

from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate TfidfVectorizer object with stopwords and tokenizer
# parameters for efficient processing of text
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=2000000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, tokenizer=tokenize_and_stem,
                                 ngram_range=(1,3))

## 7. Fit transform TfidfVectorizer
<p>Once we create a TF-IDF Vectorizer, we must fit the text to it and then transform the text to produce the corresponding numeric form of the data which the computer will be able to understand and derive meaning from. To do this, we use the <code>fit_transform()</code> method of the <code>TfidfVectorizer</code> object. </p>
<p>If we observe the <code>TfidfVectorizer</code> object we created, we come across a parameter stopwords. 'stopwords' are those words in a given text which do not contribute considerably towards the meaning of the sentence and are generally grammatical filler words. For example, in the sentence 'Dorothy Gale lives with her dog Toto on the farm of her Aunt Em and Uncle Henry', we could drop the words 'her' and 'the', and still have a similar overall meaning to the sentence. Thus, 'her' and 'the' are stopwords and can be conveniently dropped from the sentence. </p>
<p>On setting the stopwords to 'english', we direct the vectorizer to drop all stopwords from a pre-defined list of English language stopwords present in the nltk module. Another parameter, <code>ngram_range</code>, defines the length of the ngrams to be formed while vectorizing the text.</p>

In [28]:
# Fit and transform the tfidf_vectorizer with the "plot" of each movie
# to create a vector representation of the plot summaries
tfidf_matrix = tfidf_vectorizer.fit_transform([x for x in movies_df["plot"]])

print(tfidf_matrix.shape)

C:\Users\hjp28\anaconda\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'veri', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

(4337, 1)

## 8. Import KMeans and create clusters
<p>To determine how closely one movie is related to the other by the help of unsupervised learning, we can use clustering techniques. Clustering is the method of grouping together a number of items such that they exhibit similar properties. According to the measure of similarity desired, a given sample of items can have one or more clusters. </p>
<p>A good basis of clustering in our dataset could be the genre of the movies. Say we could have a cluster '0' which holds movies of the 'Drama' genre. We would expect movies like <em>Chinatown</em> or <em>Psycho</em> to belong to this cluster. Similarly, the cluster '1' in this project holds movies which belong to the 'Adventure' genre (<em>Lawrence of Arabia</em> and the <em>Raiders of the Lost Ark</em>, for example).</p>
<p>K-means is an algorithm which helps us to implement clustering in Python. The name derives from its method of implementation: the given sample is divided into <b><i>K</i></b> clusters where each cluster is denoted by the <b><i>mean</i></b> of all the items lying in that cluster. </p>
<p>We get the following distribution for the clusters:</p>
<p><img src="https://assets.datacamp.com/production/project_648/img/bar_clusters.png" alt="bar graph of clusters"></p>

In [33]:
# Import k-means to perform clusters
from sklearn.cluster import KMeans

# Create a KMeans object with 5 clusters and save as km
km = KMeans(n_clusters=5)

# Fit the k-means object with tfidf_matrix
km.fit(tfidf_matrix)

clusters = km.labels_.tolist()

# Create a column cluster to denote the generated cluster for each movie
movies_df["cluster"] = clusters

# Display number of films per cluster (clusters from 0 to 4)
movies_df['cluster'].value_counts()

C:\Users\hjp28\anaconda\Anaconda3\lib\site-packages\sklearn\cluster\k_means_.py:972: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (5). Possibly due to duplicate points in X.
  return_n_iter=True)

1    2974
0    1363
Name: cluster, dtype: int64

## 9. Calculate similarity distance
<p>Consider the following two sentences from the movie <em>The Wizard of Oz</em>: </p>
<blockquote>
  <p>"they find in the Emerald City"</p>
  <p>"they finally reach the Emerald City"</p>
</blockquote>
<p>If we put the above sentences in a <code>CountVectorizer</code>, the vocabulary produced would be "they, find, in, the, Emerald, City, finally, reach" and the vectors for each sentence would be as follows: </p>
<blockquote>
  <p>1, 1, 1, 1, 1, 1, 0, 0</p>
  <p>1, 0, 0, 1, 1, 1, 1, 1</p>
</blockquote>
<p>When we calculate the cosine angle formed between the vectors represented by the above, we get a score of 0.667. This means the above sentences are very closely related. <em>Similarity distance</em> is 1 - <a href="https://en.wikipedia.org/wiki/Cosine_similarity">cosine similarity angle</a>. This follows from that if the vectors are similar, the cosine of their angle would be 1 and hence, the distance between then would be 1 - 1 = 0.</p>
<p>Let's calculate the similarity distance for all of our movies.</p>

In [34]:
# Import cosine_similarity to calculate similarity of movie plots
from sklearn.metrics.pairwise import cosine_similarity

# Calculate the similarity distance
similarity_distance = 1 - cosine_similarity(tfidf_matrix)

## 10. Import Matplotlib, Linkage, and Dendrograms
<p>We shall now create a tree-like diagram (called a dendrogram) of the movie titles to help us understand the level of similarity between them visually. Dendrograms help visualize the results of hierarchical clustering, which is an alternative to k-means clustering. Two pairs of movies at the same level of hierarchical clustering are expected to have similar strength of similarity between the corresponding pairs of movies. For example, the movie <em>Fargo</em> would be as similar to <em>North By Northwest</em> as the movie <em>Platoon</em> is to <em>Saving Private Ryan</em>, given both the pairs exhibit the same level of the hierarchy.</p>
<p>Let's import the modules we'll need to create our dendrogram.</p>

In [31]:
# Import matplotlib.pyplot for plotting graphs
# ... YOUR CODE FOR TASK 10 ...

import matplotlib.pyplot as plt

# Configure matplotlib to display the output inline
%matplotlib inline

# Import modules necessary to plot dendrogram
# ... YOUR CODE FOR TASK 10 ...

from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import linkage

## 11. Create merging and plot dendrogram
<p>We shall plot a dendrogram of the movies whose similarity measure will be given by the similarity distance we previously calculated. The lower the similarity distance between any two movies, the lower their linkage will make an intercept on the y-axis. For instance, the lowest dendrogram linkage we shall discover will be between the movies, <em>It's a Wonderful Life</em> and <em>A Place in the Sun</em>. This indicates that the movies are very similar to each other in their plots.</p>

In [32]:
# Create mergings matrix 
mergings = linkage(similarity_distance, method='complete')

# Plot the dendrogram, using title as label column
dendrogram_ = dendrogram(mergings,
               labels=[x for x in movies_df["title"]],
               leaf_rotation=90,
               leaf_font_size=16,
)

# Adjust the plot
fig = plt.gcf()
_ = [lbl.set_color('r') for lbl in plt.gca().get_xmajorticklabels()]
fig.set_size_inches(108, 21)

# Show the plotted dendrogram
plt.show()

RecursionError: maximum recursion depth exceeded while calling a Python object

## 12. Which movies are most similar?
<p>We can now determine the similarity between movies based on their plots! To wrap up, let's answer one final question: which movie is most similar to the movie <em>Braveheart</em>?</p>

In [12]:
# Answer the question 
ans = "Gladiator"
print(ans)

Gladiator